spring:
  datasource:
    url: jdbc:mysql://localhost:3306/datamy
    password: root
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update




#  mail:
#    host: smtp.gmail.com
#    port: 587
#    password: cqqhpfrruhnosfcm
#    username: chandrashekharsaini322@gmail.com
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true
#







